run = "npm run dev"
modules = ["web", "nodejs-20"]

[deployment]
build = "npm ci && npm run build"
run = "npm start"
deploymentTarget = "cloudrun"

[[ports]]
localPort = 5173
externalPort = 80

[nix]
channel = "stable-25_05"
